* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 99;
}

.wrapper {
  margin: 0 auto;
  max-width: 1192px;
  padding: 0 20px;
}

nav {
  display: flex;
}

.logo {
  background-color: #f42;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  width: 100px;
  padding: 0.8em;
}

.top-nav,
.tab-menu-links,
.conference,
#search-duplicate {
  display: none;
}

.mobile-menu {
  align-self: center;
  width: 105px;
  font-size: 1.5em;
}

.mobile-menu i {
  cursor: pointer;
}

.search {
  color: #aaa;
  transform: rotateY(180deg);
  border-right: 1px solid #ccc;
  padding-right: 0.5em;
  margin-right: 0.4em;
}

.hamburger {
  color: #f42;
  border-left: 1px solid #ccc;
  padding-left: 0.5em;
  margin-left: 0.4em;
}

.yellow-banner {
  width: 100%;
  height: 50px;
  padding: 1em;
  margin: auto;
  background-color: yellow;
  text-align: center;
}

.truncate {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
}

main {
  display: grid;
  grid-template-areas:
    "big"
    "small-1"
    "small-2";
  padding: 0 0.7em;
  margin-top: 6.21em;
  gap: 10px;
}

.big-hero-banner {
  grid-area: big;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0.8)),
    url("./assests/letters.jpg");
  background-position: 50% 50%;
  padding: 1em;
}

.small-1 {
  grid-area: small-1;
  padding: 4em 1em 1em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0.8)),
    url("./assests/bg-grad.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.small-2 {
  grid-area: small-2;
  padding: 1em;
  background-color: green;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0.8)),
    url("./assests/lyft.png");
  background-position: 50% 37%;
}

.big-screen-display {
  display: none;
}

.category {
  text-transform: uppercase;
  margin-top: 2em;
}

.category,
.title a {
  color: #fff;
  text-align: left;
}

.title a {
  margin-top: 0.2em 0;
}

.author {
  color: #aaa;
}

.clock-icon,
.share-icon {
  margin-left: 0.5em;
}

.latest-news {
  margin: 40px 0;
}

.latest-news-title {
  margin: 20px 0;
  font-size: 28px;
  font: normal normal 700 28px/30.8px Avalon, sans-serif;
}

.latest-news-title a {
  color: #f42;
}

.latest-news-item {
  display: flex;
  margin: 5px;
}

.latest-news-img img {
  width: 75px;
  height: 80px;
  margin-right: 10px;
  padding-top: 5px;
}
.description-link {
  color: #000;
  font: normal normal 700 14px/18px "ARS Maquette", "Helvetica Neue", Arial,
    sans-serif;
}
.description {
  margin-top: 0.5em;
}
.description,
.description-link1 {
  color: #9d9d9d;
}

@media screen and (min-width: 768px) {
  .yellow-banner {
    padding: 0.4em 0.7em;
  }

  .top-nav,
  .tab-menu-links {
    display: flex;
  }

  .logo img {
    margin-top: 1.2em;
  }

  #search-duplicate {
    display: inline;
    margin-right: 3%;
  }

  .mobile-menu {
    display: none;
  }

  nav {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 31.2px 1fr;
    gap: 0;
    grid-template-areas:
      "logo top-nav"
      "logo bottom-nav";
  }

  .logo {
    grid-area: logo;
  }

  .top-nav {
    grid-area: top-nav;
    background-color: #000;
    padding: 0.35em 0.8%;
    height: fit-content;
  }

  .top-nav li {
    padding: 0 0.3em;
  }

  .light-gray-text {
    color: #aaa;
  }

  .top-nav li a {
    font-size: 1em;
  }

  .top-nav .top-nav-left {
    align-items: baseline;
  }

  .top-nav .top-nav-right {
    align-items: flex-end;
  }

  .bottom-nav {
    grid-area: bottom-nav;
    padding: 1.2em 0.4em;
  }

  .bottom-nav li {
    margin: 0 0.3em;
  }

  .bottom-nav li a {
    text-transform: uppercase;
    font-family: Shentox, sans-serif;
  }

  .yellow-banner {
    height: 30px;
  }

  main {
    grid-template-areas:
      "big big small-1"
      "big big small-2";
    margin-top: 7.6em;
  }

  .content {
    position: relative;
    bottom: -11em;
    z-index: 10;
  }

  .latest-news ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
  }

  .latest-news-item {
    flex-direction: column;
  }

  .latest-news-img img {
    width: 100%;
    height: 150px;
    margin: 0;
  }

  .description {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    grid-template-areas:
      "top-nav top-nav"
      "bottom-nav bottom-nav";
  }

  .logo {
    display: none;
  }

  .big-hero-banner {
    grid-area: big;
    background-image: linear-gradient(
        161deg,
        rgba(255, 50, 14, 0.9),
        rgba(0, 0, 0.8)
      ),
      url("./assests/letters.jpg");
    background-position: 50% 50%;
    padding: 1em;
    height: 376px;
  }

  .big-screen-display {
    display: flex;
  }

  .big-logo {
    height: 7em;
  }

  .date {
    color: #fff;
  }

  .content {
    bottom: 1em;
    width: 86%;
  }

  .content .title a {
    font-size: 56px;
    line-height: 56px;
  }

  .author {
    position: relative;
    bottom: -0.5em;
  }
}

@media screen and (min-width: 1114px) {
  .truncate {
    margin: 0;
    text-align: left;
  }

  .conference-container {
    min-width: 550px;
  }

  .conference {
    display: flex;
    font-family: sans-serif;
  }

  .checkout-btn {
    padding: 3px;
    text-transform: uppercase;
    box-shadow: 2px 2px 0;
    background-color: #fff;
    border-radius: 5px;
    font-size: 11px;
  }

  .checkout-btn i {
    background-color: #fff;
    color: #000;
    border: none;
  }

  .conference h6 {
    width: max-content;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 10px;
  }

  .conference h6 span:first-child {
    font-size: 12px;
  }

  .timer {
    font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    color: red;
  }

  .register-btn {
    background-color: #0cc;
    color: #fff;
    text-transform: uppercase;
    padding: 0 12px;
    font-size: 11px;
    font-weight: 700;
    width: max-content;
    border: none;
    border-radius: 4px;
    height: 28px;
  }

  .register-btn:hover {
    background-color: #90c;
  }
}
